
body, html {
    height: 100%;
    margin: 0;
}


.bg ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Calibri", Georgia, sans-serif;
}

.bg .navbar li.nvbr a{
    display: flex;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-direction: row;
    position: relative;
}

.bg .navbar li.nvbr a:hover {
    background-color: #111;
}

.active {
    background-color: #ff9900;
}

.button{
    background-color: #333;
    font-family: "Calibri", Georgia, sans-serif;
    color: white;
    text-align: center;
    margin-top: 11.5%;
    padding: 14px 16px;
    text-decoration: none;
    box-shadow: 13px 8px 8px 5px rgba(255, 165, 0, 0.7);
}

.bg {
    background-image: url("hrshvrdhn03.github.io/images/tabletopfood.jpg");
    height: 73%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: first;
    animation-duration: 1s;
}

.content{
  display: block;
  margin-left:56%;
  float: right;

  height: 25%;
  width: 30%;
  padding: 7%;
  font-family:monospace;
  font-size: 25px;
  color: black;
  background: linear-gradient(to right,#ff1d52,#fff,#1d8aff);
  box-shadow: 10px 7px 6px 3px rgba(0, 0, 0, 0.5);
}

@keyframes first{
  from{ opacity: 0.5; }
  to{ opacity: 1; }
}

.textbox{
    background-size: 50%;
    background: rgba(115,115,115,0.8);
    margin-top: 100px;
    height: 8%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.textbox1{
    background-size: 50%;
    margin-top: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.copyright{
  position: absolute;
  bottom: 5px;
  left:10px;
  color:#ffb566;
  font-size: 10px;
}
